* {
  padding: 0;
  margin: 0;
}


.grid-conatiner {
  display: grid;
  grid-template-columns: 40% 20% 40%;

}


.heros {
  display: flex;
  justify-content: space-around;
}



.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}